# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/packages/cli/node_modules
/packages/cli/dist
/packages/local-api/node_modules
/packages/local-api/dist
